@import "_tailwind.scss";

$primary: #04cc84;
//$primary: $green-700;
$error: #CC3B4E;
$favourite: #CCAF3B;

$background: #1C1C1C;
$sidebar: #0d0d0d;

$frame-height: 24px;
$sidebar-width: 250px;

$bg: $background;

$font-family: acumin-pro, sans-serif;