@import url("https://use.typekit.net/cxj4bac.css");
@import "_globals.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@mixin scrollbars($size, $foreground-color, $background-color) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: rgba($background-color, .75);
  }
}

*:focus,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
button:active,
button:hover,
.btn:active,
.btn.active
{
  outline: none !important;
  box-shadow: none !important;
}

*
{
  @include scrollbars(2px, $primary, $gray-800);
}

body
{
  background: $bg;
  //background: red;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

img, a
{
  -webkit-user-drag: none;
}

.frame
{
  height: $frame-height;
  -webkit-app-region: drag;
  
  div {
    -webkit-app-region: no-drag;
  }
}

.background {
  width: 100vw;
  height: 100vh;  
  @at-root {
    img#{&} {
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      opacity: .975;
      filter: blur(3px);
    }
    div#{&} {
      position: absolute;
      pointer-events: none;
      background: radial-gradient(at center top, rgba(lighten($bg, 2%), 0.975) 0%, rgba($bg, 0.925) 100%);
    }
  }
}

.router-link-active
{
  opacity: 1;

  &::after
  {
    border-bottom: $primary 1px solid;
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
}

.text-primary
{
  color: $primary;
}

.bg-primary
{
  background: $primary;
}

.bg-hover
{
  &:hover
  {
    background: rgba(#000, 0.1);

    .bg-hover
    {
      display: flex;
    }
  }

  .bg-hover
  {
    display: none;
  }
}

.right-50
{
  right: 50%;
}

.transition-pos
{
  transition-property: top, right, bottom, left;
}

/* TRANSITIONS */
.fade-scale-in-enter-active, .fade-scale-in-leave-active
{
  transition: all .1s;
}
.fade-scale-in-enter-active
{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.fade-scale-in-leave-active
{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.fade-scale-in-enter, .fade-scale-in-leave-to
{
  transform: scale(1.05);
  opacity: 0;
}

.fade-scale-out-enter-active, .fade-scale-out-leave-active
{
  transition: all .1s;
}
.fade-scale-out-enter-active
{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.fade-scale-out-leave-active
{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.fade-scale-out-enter, .fade-scale-out-leave-to
{
  transform: scale(.95);
  opacity: 0;
}